# eclipse and setting files
/target
/bin
.metadata
.gitignore
/temp
*.classpath

# OS specific files
.DS_Store
../.DS_Store
desktop.ini

# Hidden files
.*
*.gitignore
!.classpath
!.project
.project

# Temporary files
*/tmp
*~
*.tmp
*.bak
*.orig
._*
_vti_*

# Java compiled code
*.class
*.war
*.ear
