@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Basic resets to equalize inconsistencies across browsers */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, b, i, fieldset,
	form, label, legend, caption, article, header, footer, menu, nav,
	ol, ul, li {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.9em;
	}


/* -------------------------------------------------------------------- */
/* Global element styling & global classes */
p {
	margin-bottom: 8px;
}

h1 {
	margin-bottom: 7px;
	font-size: 1.8em;
}

h2 {
	font-size: 1.4em;
	margin-bottom: 5px;
}

hr {
	color: #000;
	background-color: #000;
	height: 1px;
	margin-bottom: 30px;
	border-width:0;
}

.link {
	color: #222;
	text-decoration: none;
	transition: 0.2s;
}

.link:hover {
	color: #337;
}

.slim {
	height: 2px;
	margin-bottom: 10px
}

a {
	text-decoration: none;
	color: #444;
	transition: 0.2s;
}

a:hover {
	color: #114;
}

/* Breadcrumbs only*/
pre, pre span {
	font-decoration: none;
	font-size: 1em;
	font-family: 'Ubuntu', sans-serif;
	color: graytext;
	margin-top: 0px;
	margin-bottom: 30px;
}

pre a {
	font-size: 1em;
	font-family: 'Ubuntu', sans-serif;
	color: graytext;
	margin-top: 0px;
	margin-bottom: 30px;
	font-weight: 900;
}

/*Header is fixed to 60px from top, so with padding of 60px,
we fix the body in the exactly right position*/
body {
	color: #000;
	padding-top: 70px;
	padding-bottom: 40px;
	min-width: 340px;
}

/* the main content on every page */
#content {
	width: 340px;
	margin-left:auto;
	margin-right:auto;
	padding: 4px;
}

/* These two guarantee that we can write stuff on the same line,
but not in one String (i.e. in the header) */
.left {
	display: inline-block;
	float: left;
	padding-left: 4px;
	margin-top: 8px;
}

.right {
	display: inline-block;
	float: right;
	padding-right: 4px;
}

.styledTable {
	background-color: #999;
	margin-top: 20px;
}

.styledTable th {
	background-color: #444;
	color: white;
}

.styledTable td {
	background-color: white;
	padding: 5px 10px;
}

input, select, textarea {
	margin-right: 4px;
	margin-bottom: 4px;
	padding-left: 2px;
}

input[type=number] {
	width: 50px;
}

input[type=text] {
	width: 80px;
}

label {
	margin-right: 10px;
}

button {
	background-color: #999;
	color: white;
	padding: 5px 10px;
	border-color: #444;
	border-style: solid;
	transition: 0.2s;
}

button:hover {
	color: #000;
	background-color: #ddd;
	border-color: #999;
	cursor: pointer;
}

.inactiveButton {
	background-color: #ddd;
	color: black;
	border-color: white;
}

.button {
	background-color: #999;
	color: white;
	padding: 5px 10px;
	border-color: #444;
	border-style: solid;
	transition: 0.2s;
}

.button:hover {
	color: #000;
	background-color: #ddd;
	border-color: #999;
}

.smallPlusButton {
	display: inline;
	font-decoration: none;
	background-color: #999;
	color: white;
	width: 15px;
	height: 15px;
	padding: 0px 5px;
	text-align: center;
	border-color: #444;
	border-style: solid;
	font-size: 1.1em;
	transition: 0.2s;
}

.smallPlusButton:hover {
	color: #000;
	background-color: #ddd;
	border-color: #999;
	cursor: pointer;
}


fieldset {
	padding: 20px;
	margin-bottom: 10px;
}

legend {
	font-size: 0.95em;
	font-weight: bold;
	padding: 0 10px;
}

button {
	margin-right: 20px;
}

.validationErrorText {
	color: red;
	background-color: #999;
	border-radius: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 10px;
	vertical-align: top;
}

.clearBoth {
	clear: both;
}

.confirmation-message {
	border-style: solid;
	width: 20%;
	margin: auto;
	padding: 10px 20px;
	border-color: #444;
}

.negative-message {
	border-style: solid;
	width: 20%;
	margin: auto;
	padding: 10px 20px;
	border-color: #444;
}

.confirmation-message img {
	width: 30px;
	margin-bottom: 20px;
}

.negative-message img {
	width: 30px;
	margin-bottom: 20px;
}

/* -------------------------------------------------------------------- */
/* Header & Footer */
header {
	color: white;
	background: #888;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 46px;
	z-index: 200;
	width:100%;
}

header a {
	text-decoration: none;
	color: white;
}

header h1 {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 1.8em;
}

header h1 a {
	color: white;
}

header ul {
	padding: 0;
	list-style: none;
	background: #999;
	margin-right: 2px;
}

header ul li {
	font-size: 0.9em;
	float: right;
	width: 58px;
	text-align: center;
	line-height: 21px;
	margin-top: 12px;
	margin-right:1px;
	text-align: center;
	vertical-align:middle;
	border: 2px #777 solid;
}

#messageLi {
	display:none;
}

img.logo
{
	width:140px;
	margin-top: -3px;
	margin-left: -8px;
	transition: 0.5s;
	-webkit-filter: drop-shadow(1px 1px 2px #000);
  	filter: drop-shadow(1px 1px 2px #000);
}

#profile_picture {
	width: 90px;
	margin-top: 3px;
}

#profile_picture_editPage {
	float: left;
	width: 90px;
	margin-top: 0px;
}

#profile_picture_publicProfile {
	float: left;
	width: 90px;
	margin-top: 0px;
}

#profile_picture img {
	width: 25px;
	height: 25px;
	float: left;
	border-radius:5px;
}

#profile_picture a {
	height: 38px;
}

#profile_picture .text {
	float: none;
	height: 100%;
	margin-top: -2px;
	margin-right: 0px;
}

#profile_picture ul li {
	margin-top: 0px;
	float: none;
	width: 100%;
}

#profile_picture ul li a {
	height: 25px;
	text-align: left;
}

header ul li a {
	display: block;
	padding: 1px 2px;
	color: #fff;
	background: #999;
	text-decoration: none;
	transition: 0.2s;
}

header ul li a:hover {
	color: #000;
	background: #ddd;
}

/* it does hide the drop down menu */
header ul li ul {
	display: none;
}

/*only when you hover over the unordered list item -> dropdown visible */
header ul li:hover ul {
	display: block;
}

header nav {
	margin-top: -6px;
	margin-right: -8px;
	display: block;
	float: right;
	padding: 0px 10px;
	font-size: 1.6em;
}

header nav img{
	display: none;
}


footer {
	color: white;
	background: #999;
	position: fixed;
	opacity: 0.9;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 25px;
	text-align: center;
	margin-top: 20px;
	padding-top: 6px;
	width:100%;
}

footer nav {
	margin-top: -1px;
}

footer .link {
	color: #FFF;
}

footer .link:hover {
	color: #88f;
}

footer nav ul li {
	display: inline-block;
	float: center;
	padding: 0px 15px;
}

#premiumStatus i
{
	display:none;
}

#premiumStar
{
	margin-top:6px;
	width:24px;
}


/* -------------------------------------------------------------------- */
/* ----------------------------Individual pages------------------------ */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* login.jsp */
.test-users {
	margin-left: 30px;
	line-height: 1.5;
}

/* about.jsp*/
#about {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -365px;
  margin-left: -486px;
}

/* -------------------------------------------------------------------- */
/* placeAd.jsp */
#placeAdForm {
	width: 900px;
	margin: auto;
}

#uploaded-pictures {
	width: 700px;
}

#uploaded-pictures td {
	text-align: center;
}

#uploaded-pictures td:first-child {
	text-align: left;
}

#uploaded-pictures td:last-child {
	cursor: pointer;
}

#name-column {
	width: 75%;
	text-align: left;
}

.placeAdTable {
	width: 80%;
}

/* -------------------------------------------------------------------- */
/* signup.jsp */
#signupForm {
	width: 350px;
}

.signupDescription{
	vertical-align: top;
}
/* -------------------------------------------------------------------- */
/* search.jsp */
#searchForm {
	width: 400px;
}

/* -------------------------------------------------------------------- */
/* editProfile.jsp */
.editProfileTable input {
	width: 30%;
	font-size: 0.8em;
}

.editProfileTable textarea {
	font-size: 0.9em;
}

.editProfileTable {
	width: 80%;
	margin-top: 2px;
	font-size: 1.4em;
}

.spacingTable {
	padding: 10px;
}

/* -------------------------------------------------------------------- */
/* results.jsp */
#resultTable {
	background-color: #444;
}

#resultTable tr {
	background-color: white;
}

#resultTable th {
	background-color: #444;
	color: white;
	padding: 5px;
}

#resultTable td {
	padding: 5px;
}

#resultTable a {
	text-decoration: none;
}

#userPicDiv {
	float: left;
	margin-top: 10px;
}

#userTextDiv {
	float: left;
	padding-left: 30px;
	margin-top: 10px;
}

#filterDiv {
	display:none;
}

#resultsDiv {
	width: 340px;
	margin-top: 10px;
	float: left;
}

#resultsDiv div {
	height: 90px;
	padding: 10px;
	margin-top: 20px;
	background-color:#ddd;	
}

#resultsDiv div:first-child {
	margin-top: 0px;
}

#resultsDiv div img {
	width: 90px;
	float: left;
	margin-top:10px;
	margin-right: 10px;
	transition:0.3s;
}

#resultsDiv div div {
	border: none;
	margin: 0;
	padding: 0;
}

#resultsDiv .resultLeft {
	float: left;
	width: 75%;
}

#resultsDiv img:hover {
	box-shadow: 1px 1px 2px #000;
}


#resultsDiv .resultRight {
	float: right;
	width: 20%;
	text-align: right;
	padding-right: 5px;
}

/* -------------------------------------------------------------------- */
/* adDescription.jsp */

#adDescTable {
	width: 340px;
	height: 400px;
	float: left;
	font-size:1.1em;
}

#adDescTable h2 {
	font-size:1.2em;
	margin: 4px;
}

#adDescTable td {
	width:50%;
	margin: 10px;
}
	
#checkBoxTable {
	width:340px;
}

#checkBoxTable img {
	width: 20px;
}

#descriptionTexts {
	width: 50%;
	float: left
}

#advertiserTable{
	width:340px;
	background: #eee;
	padding: 10px;
	margin-bottom: 25px;
}

#advertiserTable img {
	width: 50px;
	height: 50px;
}

#advertiserTable h2 {
	margin: 0;
}

#advertiserEmail
{
	display:none;
}

#mate img {
	width: 50px;
	height: 50px;
}

#mate {
	table-layout: fixed;
	width: 100%;
}

#image-slider {
	height: 280px;
	float: right;
	width: 340px;
	margin-bottom: 20px;
	margin-top:10px;
}

#images {
	float: left;
	width: 260px;
	height: 280px;
	position: relative;
}

#images img {
	max-height: 270px;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
	max-width: 250px;
}

#images img:first-child {
	margin-top: 0px;
	display: block;
}

#left-arrow {
	height: 100%;
	width: 30px;
	margin-right: 4px;
	float: left;
}

#right-arrow {
	height: 100%;
	width: 30px;
	margin-left: 4px;
	float: left;
}

#left-arrow img {
	width: 30px;
	margin-top: 110px;
	transition: 0.4s;
}

#right-arrow img {
	width: 30px;
	margin-top: 110px;
	transition: 0.4s;
}

#left-arrow img:hover {
	cursor: pointer;
	opacity: .7;
}

#right-arrow img:hover {
	cursor: pointer;
	opacity: .7;
}

.adDescDiv {
	width:320px;
	background: #eee;
	padding: 10px;
	margin-top:5px;
	margin-bottom: 20px;
}

.thinButton {
	background-color: #999;
	color: white;
	padding: 2px 10px;
	border-color: #444;
	border-style: solid;
	font-size: 1.1em;
	margin-left: 30px;
	transition: 0.2s;
}

.thinInactiveButton {
	background-color: #bbbbbb;
	color: white;
	padding: 2px 10px;
	border-color: white;
	border-style: solid;
	font-size: 1.1em;
	margin-left: 30px;
}

.thinInactiveButton:hover {
	background-color: #white;
	color: #bbbbbb;
	border-color: #bbbbbb;
	cursor: pointer;
}

#bidDiv {
	font-size: 1.4em;
	color:white;	
	position: relative;
	left: 90px;
	top: -21px;
	width: 200px;
	height: 32px;
	border-width:2px;
}

#makeBid {
	background-color: #999;
	margin-top:4px;
	color: white;
	padding: 2px 6px;
	border-color: #444;
	border-style: solid;
	transition: 0.2s;
}

#makeBid:hover {
	color: #000;
	background-color: #ddd;
	border-color: #999;
	cursor: pointer;
}

#makeBidDisabled {
	background-color: #777;
	padding: 4px 12px 4px 10px;
	border-width: 2px;
	border-color: #555;
	border-style: solid; 
	color: white;
}

#bookmarkButton {
	display:none;
}

#bookmarkedButton {
	display:none;}

#bookmarkButton:hover {
	color: #000;
	background-color: #ddd;
	border-color: #999;
	cursor: pointer;
}

#bookmarkedButton:hover {
	border-color: silver;
	border-style: dashed;
}

/* -------------------------------------------------------------------- */
/* messages.jsp */

#messageList {
	float: right;
	width: 70%;
	margin-right: 40px;
}

#messageList hr {
	margin-top: 30px;
}

#messageList table {
	width: 90%;
	margin: auto;
}

#messageList table tr:hover {
	cursor: pointer;
}

#messageList table tr.UNREAD td {
	background-color: #AFFFEE;
}

#subjectColumn {
	width: 40%;
}

#folders {
	float: left;
	width: 10%;
	height: 70%;
	margin-left: 30px;
	border-color: #444;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	padding: 15px;
	transition: 0.2s;
}

#folders h2 {
	padding: 5px;
	color: graytext;
}

#folders h2:hover {
	background-color: #ddd;
	color: black;
	cursor: pointer;
}

#messageDetail {
	border-color: #444;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	padding: 30px;
	width: 80%;
	margin: auto;
}

#messageDetail p {
	white-space: pre-line;
}

#folders a:hover {
	background-color: #128;
	color: white;
	cursor: pointer;
}

.msgForm {
	border-radius: 2px;
	padding: 10px 20px;
	box-shadow: 0 0 15px;
	font-size: 13px;
	font-weight: bold;
	width: 340px;
	margin: 20px 150px 0 35px;
	float: left;
	background-color: white;
	position: relative;
	border: 5px solid rgb(90, 158, 181);
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: -220px;
}

.msgInput {
	width: 100%;
	height: 35px;
	margin-top: 5px;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px;
}

#msgTextarea {
	width: 100%;
	height: 80px;
	margin-top: 5px;
	border-radius: 3px;
	border: 1px solid #999;
	padding: 5px;
	resize: none;
}

#msgDiv {
	opacity: 1.0;
	position: fixed;
	top: 60px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
}

#confirmationDialog{
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display:none;
}

#confirmationDialog form{
	border-radius: 2px;
	padding: 20px 30px;
	box-shadow: 0 0 15px;
	font-size: 14px;
	font-weight: bold;
	width: 350px;
	margin: 20px 250px 0 35px;
	float: left;
	background-color: white;
	position: relative;
	border: 5px solid rgb(90, 158, 181);
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: 10x;
}

.img {
	float: right;
	margin-top: -35px;
	margin-right: -37px;
}

.divWithLineBreaks {
	white-space: pre-line;
}

/* -------------------------------------------------------------------- */
/* enquiries.jsp */
#enquiryList {
	width: 85%;
	margin: auto;
}

#enquiryList hr {
	margin-top: 30px;
}

#enquiryList table {
	width: 85%;
	margin: auto;
}

.declineButton{
	background-color: #ff4a4f;
}

.declineButton:hover{
	border-color: #ff4a4f;
	color: #ff4a4f;
}

.undoButton{
	margin-left: 20px;
}

/* -------------------------------------------------------------------- */
/* publicProfile.jsp */
#userDiv {
	width: 40%;
	margin: 0 auto;
}

#userDiv img{
	max-height: 200px;
}

/* -------------------------------------------------------------------- */
/* visitors.jsp */
.rating {
  text-align: center;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  
}

.rating:hover > span {
	color: transparent;
}

.rating > span:hover ~ span {
	color: gray;
}

.rating:hover > span:before {
	content: "\2605";
	position: absolute;
	left: 0; 
	color: #2dc16d;
	width: 1.1em;
}

.rating > span:hover ~ span:before {
	color: transparent;
}

/* -------------------------------------------------------------------- */
/* editAd.jsp */

.pictureThumbnail{
	width: 200px;
	border-style: dashed;
	border-color: #444;
	border-width: 2px;
	text-align:center;
	float: left;
	margin-right: 10px;
}

.pictureThumbnail div{
	width: 100%;
}

.pictureThumbnail img{
	height: 130px;
	margin-top: 10px;
}

.pictureThumbnail button{
	margin: 10px 0;
}
